@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


::-webkit-scrollbar {
    width: 4px;
    height: 10px
}

::-webkit-scrollbar-track {
    background: transparent
}

::-webkit-scrollbar-thumb {
    background: #786fef;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px
}

:root {
    --gc: #786fef;
    --c1l: #7c75e0;
    --c1d: #655ce4;
    --c2l: #7c74eb;
    --c2d: #6158d8;
    --bg1: #202329;
    --bg2: #14141a;
    --wh: #faf5fc;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--bg2);
    color: var(--wh);
    /* min-height: 100vh; */
    background-image: linear-gradient(rgba(131, 131, 134, 0) 29px, rgba(131, 131, 134, .05) 29px, rgba(131, 131, 134, .05) 30px), linear-gradient(90deg, rgba(131, 131, 134, 0) 29px, rgba(131, 131, 134, .05) 29px, rgba(131, 131, 134, .05) 30px);
    background-size: 30px 30px, 30px 30px;
    background-position: 0 0, 0 0;
    overflow-x: hidden !important;
}

img {
    user-select: none;
}

h1 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 1.2;
}

.h1bigg {
    font-size: 4rem;
}

a,
a:hover,
a:active {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 0.8rem 2rem;
    margin-right: 10px;
    border-radius: 10px;
    background: var(--gc);
    color: var(--wh);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.3s ease;
    outline: none;
    border: none;
    box-shadow: none !important
}

.btn:hover,
.btn:focus,
.btn:active {
    outline: none;
    border: none;
}

.btn-primary {
    border-radius: 8px;
    background: var(--gc);
    background: linear-gradient(-60deg, #7c75e0 0, #655ce4 100%);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background: linear-gradient(-60deg, #7c74eb 0, #6158d8 100%) !important;
}


.btn-secondary {
    border-radius: 8px;
    background: var(--gc);
    background: linear-gradient(-60deg, #4c4a4e 0, #5f5e61 100%);
    transition: 0.5s;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
    background: linear-gradient(-60deg, #58555a 0, #5c5b5e 100%) !important;
}


p {
    color: #faf5fc;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
}



.navbar-brand img {
    z-index: 99999;
}

nav div div ul li {
    list-style: none;
    display: inline-block;
    padding: 0 15px
}

nav div div ul li a {
    text-decoration: none;
    color: #f2eefc;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
}

nav div div ul li a:visited {
    color: #fcf4fc
}

nav div div ul li a:hover {
    color: #7c75e0;
}

.hamburger div {
    width: 30px;
    height: 2.8px;
    background: #fff;
    border-radius: 20px;
    margin: 6px;
    transition: all .3s ease
}

.hamburger {
    display: none
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
}

.goto {
    margin: 0;
}

.home-sec {
    min-height: 100vh;
}

.home_right img {
    max-width: 270px;
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: all 0.5s ease;
}

.home_right {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: pulseupanddown 4.5s cubic-bezier(.78, 1.19, .78, 1.19) infinite;
}

@keyframes pulseupanddown {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-6px);
    }

    100% {
        transform: translateY(0px);
    }
}

.home_left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_left p {
    margin-bottom: 20px;
}

.scrollDown {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.moreabout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px 30px;
}

.scrollDown i {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: var(--gc);
    animation: scrollDownAnim 2s cubic-bezier(.78, 1.19, .78, 1.19) infinite;
}

@keyframes scrollDownAnim {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateY(-10px);
        opacity: 0;
    }
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
}

.about_section {
    padding: 20px 0;
    background: linear-gradient(0deg, rgba(20, 20, 26, 0) 0%, rgba(20, 20, 26, 0.6) 20%, rgba(20, 20, 26, 1) 50%, rgba(20, 20, 26, 1) 60%, rgba(20, 20, 26, 0) 100%);
    position: relative;
}

.about_right {
    text-align: justify;
}

.about_left {
    margin: 10px 20px 25px 0;
}

.about_left img {
    border-radius: 8px;
    width: 100%;
    max-height: 300px;
}

.covimg {
    object-fit: cover;
}

.articles_section {
    padding: 100px 0;
    position: relative;
}

.header {
    text-align: center;
}

.headerh {
    position: relative;
    width: 100%;
    text-align: center;
}

.header h1 {
    z-index: 1;
}

.breadcrumb {
    color: #676777;
}

.breadcrumb-item.active,
.breadcrumb-item+.breadcrumb-item::before {
    color: #89898f;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mt-30 {
    margin-top: 30px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mt-50 {
    margin-top: 50px;
}

.mb-100 {
    margin-bottom: 100px;
}

.floating_txt {
    color: transparent;
    font-size: 10rem;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    -webkit-text-stroke: #6058d83a 1px;
    animation: moveleftandright 10s infinite linear alternate;
    z-index: 0;
}

@keyframes moveleftandright {
    0% {
        transform: translate(-50%, -50%) translateX(-150px);
    }

    100% {
        transform: translate(-50%, -50%) translateX(150px);
    }
}

@media screen and (max-width: 768px) {

    .about_left {
        margin: 10px 0px 25px 0;
    }

    .about_left img {
        height: auto;
        border: 1px solid #7c75e06e;
        border-radius: 20px !important;
        padding: 3px;
    }

    .coun1bg {
        border-radius: 20px !important;
    }

    h1 {
        font-size: 2.6rem;
    }

    .h1bigg {
        font-size: 3.4rem;
    }

    p {
        font-size: 1.1rem;
    }

    .floating_txt {
        font-size: 7rem;
    }

    .home {
        text-align: center;
    }

    .home_left {
        order: 2;
    }

    .home_right {
        order: 1;
    }

    .home-sec {
        display: flex;
    }

    .home_right img {
        max-width: 200px;
        margin-bottom: -110px;
    }

    .home_left {
        display: block;
    }

    .home p {
        text-align: justify;
        text-align-last: center;
    }

    .cen .row {
        display: flex;
        flex-flow: column;
    }

    .footer_text {
        order: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer_social {
        order: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .dropdown-menu {
        margin-top: 5px !important;
    }

    .dropdown-menu a {
        font-size: 1.15rem !important;
        font-weight: 400;
        padding: 5px 0;
    }
}

@media screen and (max-width: 420px) {


    .aff::after {
        display: none !important;
    }

    .home_right img {
        max-width: 145px;
        margin-bottom: -70px;
        margin-top: 50px;
    }

    .home p {
        font-size: 1rem;
    }

    .home h1 {
        font-size: 2.2rem;
    }

    .home .btn {
        font-size: 1rem;
        padding: 10px 20px;
    }

    .goto li a {
        font-size: 1.5rem;
    }

    .goto {
        margin-top: -20px;
    }

    .dropdown-menu a {
        font-size: 1.3rem !important;
        padding-left: 10px !important;
    }

    .scrollDown {
        display: none;
    }


}



@media screen and (max-width:996px) {

    .aff::after {
        content: '';
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 0.5px;
        height: 25px;
        position: absolute;
        top: 50%;
        left: 52%;
        transform: translate(-50%, -50%);
        background: #7c75e0;
    }

    nav {
        position: fixed;
        z-index: 3
    }

    .hamburger {
        display: block;
        position: absolute;
        cursor: pointer;
        right: 10%;
        top: 50%;
        transform: translate(-10%, -50%);
        z-index: 2;
        transition: all .7s ease
    }

    .goto {
        position: fixed;
        background: #14141afa;
        top: 0;
        left: 0;
        z-index: 1;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        transition: all .7s ease-out;
        pointer-events: none;
        visibility: hidden;
    }

    .goto.open {
        visibility: visible;
        pointer-events: all
    }

    .goto li {
        opacity: 0
    }

    .goto li:nth-child(1) {
        transition: all .15s ease .1s
    }

    .goto li:nth-child(2) {
        transition: all .15s ease .2s
    }

    .goto li:nth-child(3) {
        transition: all .15s ease .3s
    }

    .goto li:nth-child(4) {
        transition: all .15s ease .4s
    }

    .goto li:nth-child(5) {
        transition: all .15s ease .5s
    }

    .goto li:nth-child(6) {
        transition: all .15s ease .6s;
        margin: 0
    }

    .goto li:nth-child(7) {
        transition: all .15s ease .7s;
        margin: 0
    }

    li.fade {
        opacity: 1
    }

    header li {
        display: block;
        padding: 0px 20px;
        text-align: center;
    }

    nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;

    }


    nav ul li a {
        font-size: 2em;
    }

}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 7px)
}

.toggle .line2 {
    background: #7c75e0;
    transition: all .7s ease;
    width: 0
}

.line2 {
    background: #7c75e0 !important
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -7px)
}



@media screen and (min-width: 768px) {
    .about_left {
        padding: 0 !important;
    }
}

.splash {
    position: absolute;
    width: 250px;
    height: 150px;
    filter: blur(120px);
    animation: splash 4s ease-in-out infinite;
    z-index: -1;
}

.splash1 {
    bottom: 0;
    left: 0;
    background: #4a3b8bb0;
}

.splash2 {
    right: 0;
    top: 0;
    background: #41358096;
}

.counter_sec div div div {
    text-align: center;
}

.counter_sec div div div {
    gap: 20px;
}

.coun1bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 40%;
    transform: translate(80%, 80%);
    border-radius: 50%;
    background: #826feba6;
    opacity: 1;
    z-index: -1;
    filter: blur(50px);
}

.coun1bg {
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
    background: #a8a8ca0c;
    padding: 20px 20px;
    border-radius: 10px;
    max-width: 300px;
    min-width: 200px;
}

.card {
    margin-bottom: 30px;
    padding: 10px;
    background: #3737473f;
    border: 0.5px solid #f2eefc17;
    border-radius: 25px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}


.card-body {
    padding: 10px 10px 20px 10px;
}

.card-body .card-title {
    font-size: 0.9rem;
    font-weight: 500;
    margin: 8px 0 10px 0;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #8d8ba1
}

.card-title i {
    font-size: 1.1rem;
    margin-right: 10px;
    color: #7c75e0;
}

.card-body .card-text {
    font-size: 1.1rem;
    color: #f2eefc;
    font-weight: 550;
    margin-bottom: 30px;
}

.card,
.card-img-top {
    border-radius: 16px;
}

.cstbtn {
    background: #34343f;
    color: #fcfbfd;
    padding: 10px 16px;
    border-radius: 8px;
    font-size: 0.9rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    transition: background 0.3s ease-in-out;
    border: 1px solid #fcfbfd13;
}

.cstbtn:hover {
    background: #e7e6f1ee;
    color: #1c1c24;
}

.cstbtn:focus,
.cstbtn:active {
    outline: none;
}


.card-img-top {
    padding: 6px;
    border-radius: 14px;
    height: 240px;
    object-fit: cover;
}

.mwt {
    max-width: 1100px;
    margin: 0 auto;
}

.coun1bg h1,
.coun1bg p {
    z-index: 2;
}

.coun1bg h1 {
    padding-top: 12px;
}

.coun1bg p {
    width: 100%;
    text-align: center;
}


@keyframes splash {
    0% {
        transform: scale3d(1.06, 1.06, 1.06);
        background: #845bf3b0;
    }

    50% {
        transform: scale3d(1.04, 1.04, 1.04);
        background: #604cbbbb;
    }

    100% {
        transform: scale3d(1.02, 1.02, 1.02);
        background: #845bf3b0;
    }
}

footer {
    margin-bottom: 30px;
    position: relative;
}

.cen {
    margin: 0 auto;

}

.footbord {
    padding-top: 40px;
    border-top: 1px solid #f2eefc60;
}

.footer_text p {
    font-size: 1rem;
    color: #f2eefc;
    font-weight: 400;
    float: left;
    margin-bottom: 30px;
}

.footer_social ul {
    list-style: none;
    padding: 0 0 10px 0;
    margin: 0;
    float: right;
}

.footer_social ul li {
    margin: 0 10px;
    display: inline-block;
}

.footer_social ul li a {
    color: #f2eefc;
    font-size: 1.2rem;
}

.footer_social ul li a:hover {
    color: #7c75e0;
}

a {
    color: #7c75e0;
    text-decoration: none;
}

a:hover {
    color: #7c75e0;
}

a:focus-visible {
    outline: none;
}

.dev {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, 0);
    background: #34343f63;
    padding: 8px 20px;
    border: 0.1px solid #f2eefc60;
    border-bottom: none;
    border-radius: 15px 15px 0 0;
    width: 180px;
    text-align: center;
    font-size: 0.8rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #f2eefc;
    font-weight: 300;
    box-shadow: 0 0 20px 0 #7c75e04b;
    transition: letter-spacing 0.3s ease-in-out;
}

.dev:hover {
    color: #f2eefc;
    letter-spacing: 3.5px;
}

.sec_tit {
    min-height: 150px;
    width: 100%;
    margin-top: 150px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.breadcrumb {
    /* margin-top: -55px; */
    background: transparent;
}

.dropdown:hover .dropdown-menu {
    display: block;
}


.dropdown-menu {
    background: #252530;
    padding: 10px 0;
    margin-top: 10px;
    border-radius: 8px;
}

.dropdown-menu a {
    color: #f2eefc;
    font-size: 1rem;
    font-weight: 400;
    padding: 5px 0;
    display: block;
    transition: background 0.3s ease-in-out;
}

.active-ul {
    color: #7c75e0 !important;
    font-weight: 600;
}

.exec-info {
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    min-height: 125px;
}

.exec-info h3 {
    font-size: 1.4rem;
    font-weight: 600;
    color: #f2eefc;
    text-align: center;
}

.exec-info p {
    font-size: 0.95rem;
    font-weight: 300;
    padding: 0;
    margin: 0;
}

.exec-prof {
    padding-top: 10px;
    border-radius: 25px;
    padding: 10px;
    background: #2a2a353f;
    border: 0.5px solid #f2eefc17;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: transform 0.3s ease-in-out;
}

.exec-prof:hover {
    background: #2a2a3596;
    transform: translateY(-5px);
}


.exec-img img {
    border-radius: 15px;
    object-fit: cover;
    height: auto;

    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url(../img/loading.gif) no-repeat center;
}

.executives_section div div div div {
    padding: 8px;
}

.executives_section {
    margin-bottom: 50px;
}

.contact-card {
    background: #b7b7ce07;
    min-height: 260px;
    border: 0.5px solid #f2eefc17;
    border-radius: 25px;
    padding: 30px 25px;
    margin-bottom: 30px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: background 0.2s ease;
}

.contact-card:hover {
    background: #b7b7ce0a;
    border-color: #f2eefc1f;
}

.contact-card .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;

}

.contact-card .icon i {
    color: #7c75e0;
    font-size: 5rem;
}

.contbg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: none;
    opacity: 0.05;
    z-index: -1;
    border-radius: 25px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contbg i {
    position: absolute;
    border-radius: 25px;
    font-size: 10rem;
    color: #f2eefc57;
    margin: 0;
    padding: 0;
    transition: font-size 0.2s ease-in-out;
}

.contact-card:hover>.contbg i {
    font-size: 12rem;
}


.contact-card .contact-info h3 {
    font-weight: 700;
    color: #f2eefc;
    text-align: center;
}

.contact-card .contact-info p {
    font-weight: 400;
    text-align: center;
    margin-bottom: 0;
}


.exec-batch {
    display: flex;
    align-items: center;
    justify-content: center;
}


.exec-batch h4 {
    font-weight: 600;
    background: #a5a2cc3a;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 35px;
    box-shadow: 0 0 20px 0 #7c75e021;
}

.exec-batch h4 span {
    color: #d5d3f1;
    padding: 0 5px;
}

.exec-batch h4::after,
.exec-batch h4::before {
    content: "-";
    color: #7c75e0;
}

.exec-batch h4::before {
    margin-right: 10px;
}

.exec-batch h4::after {
    margin-left: 10px;
}



.justified-gallery {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.justified-gallery>a,
.justified-gallery>div,
.justified-gallery>figure {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    filter: "alpha(opacity=10)";
    opacity: 0.1;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.justified-gallery>a>img,
.justified-gallery>div>img,
.justified-gallery>figure>img,
.justified-gallery>a>a>img,
.justified-gallery>div>a>img,
.justified-gallery>figure>a>img,
.justified-gallery>a>svg,
.justified-gallery>div>svg,
.justified-gallery>figure>svg,
.justified-gallery>a>a>svg,
.justified-gallery>div>a>svg,
.justified-gallery>figure>a>svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 5px;
    border-radius: 20px;
    border: none;
    filter: "alpha(opacity=0)";
    opacity: 0;
}

.justified-gallery>.jg-entry-visible {
    filter: "alpha(opacity=100)";
    opacity: 1;
    background: none;
}

.justified-gallery>.jg-entry-visible>img,
.justified-gallery>.jg-entry-visible>a>img,
.justified-gallery>.jg-entry-visible>svg,
.justified-gallery>.jg-entry-visible>a>svg {
    filter: "alpha(opacity=100)";
    opacity: 1;
    -webkit-transition: opacity 500ms ease-in;
    -moz-transition: opacity 500ms ease-in;
    -o-transition: opacity 500ms ease-in;
    transition: opacity 500ms ease-in;
}

.justified-gallery>.jg-spinner {
    position: absolute;
    bottom: 0;
    margin-left: -24px;
    padding: 10px 0 10px 0;
    left: 50%;
    filter: "alpha(opacity=100)";
    opacity: 1;
    overflow: initial;
}

.justified-gallery>.jg-spinner>span {
    display: inline-block;
    filter: "alpha(opacity=0)";
    opacity: 0;
    width: 8px;
    height: 8px;
    margin: 0 4px 0 4px;
    background-color: #a5a2cc3a;
    border-radius: 6px;
}




.contact-form h2 {
    font-weight: 700;
    color: #f2eefc;
    text-align: center;
    margin: 20px 0;
}

.contform {
    background: #b7b7ce07;
    min-height: 260px;
    border: 0.5px solid #f2eefc17;
    border-radius: 25px;
    padding: 40px 25px;
    margin-bottom: 30px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

input,
textarea {
    background: #b7b7ce07;
    border: 0.5px solid #f2eefc17;
    border-radius: 15px;
    padding: 10px 20px;
    margin-bottom: 20px;
    width: 100%;
    color: #f2eefc;
    font-weight: 300;
    font-size: 1rem;
    outline: none;
    transition: all 0.2s ease-in-out;
}

input:focus,
textarea:focus {
    background: #b7b7ce0e;
    border-color: #7c75e0a4;
}

#subbtn {
    background: #7c75e0;
    border-radius: 15px;
    padding: 12px 20px;
    min-width: 250px;
    color: #f2eefc;
    font-weight: 500;
    font-size: 1.03rem;
    border: none;
    outline: none;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

#subbtn:hover {
    background: #716bd3;
}